@CHARSET "UTF-8";

body {
  margin: 10px;
  background-color: #E5E5E1;
  color:#333333;
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
}

body, td, a, div, p {
  font-size: 10px;
  font-family: verdana, arial, sans-serif;
}

textarea, input, select {
  border: 1px solid #A5A596;
  font-size: 10px;
  font-family: verdana, arial, sans-serif
}

label {
  font-weight: bold;
}

div#box {
  background-color: #F1F3F5;
  border: 1px solid #CCCCCC;
  width: 205px;
  height: 230px;
  margin: 6em auto 6em auto;
}

div#logo {
  background-image: url('../logo/mobile');
  background-repeat: no-repeat;
  width: 160px;
  margin: 15px auto 15px auto;
  height: 38px;
}

div#text {
  display: none;
}

div#error {
  color: #F00;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  height: 16px;
  margin-bottom: 3px;
}

div#form {
  background-color: #E9ECEF;
  border: 1px solid #CCCCCC;
  padding: 10px;
  width: 150px;
  margin: 15px auto 15px auto;
}

div#box-error {
  background-color: #F1F3F5;
  border: 1px solid #CCCCCC;
  width: 300px;
  height: 195px;
  margin: 6em auto 6em auto;
}

div#text-error {
  display: none;
}

div#form-error {
  background-color: #E9ECEF;
  border: 1px solid #CCCCCC;
  padding: 10px;
  width: 260px;
  height: 95px;
  margin: 15px auto 15px auto;
}

/* Inputs */
.okm-Input {
	border: 1px solid #A5A596;
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	-moz-user-select: normal;
    -khtml-user-select: normal;
    user-select: normal;
    white-space: nowrap;
}

/* Buttons */
.okm-Button {
	background-color: #E5E5E1;
	border: 1px solid #A5A596;
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
}

/* Status Popup */
.okm-StatusPopup {
	font-size: 12px;
	background-color: #C7E9FD;
	border: 1px solid #110011;
}

/* Login box */
.okm-Login-Box {
	background-color:#F1F3F5;
	border:1px solid #CCCCCC;
}

/* Form box */
.okm-Form-Box {
	background-color:#E9ECEF;
	border:1px solid #CCCCCC;
	padding:10px;
}

/* Error */
.okm-Error {
	color:#FF0000;
	font-size:14px;
	font-weight:bold;
}

/* DEMO */
table.demo {
  background-color: #F1F3F5;
  border: 1px solid #CCCCCC;
}

table.demo td {
  text-align: center;
  padding: 7px;
}

td.demo_alert {
  background-color: #DA3737;
  font-weight: bold;
}

td.demo_title {
  background-color: #002B4C;
  color: #fff;
  font-weight: bold;
}

table.demo_list {
}

table.demo_list th {
  font-weight: bold;
}

table.demo_list td {
  padding: 1px;
}
